header{
    text-align: center;
}

nav{
    display: flex;
    flex-direction: column;
}

nav a{
    border-radius: 20px;
    height: 50px;
    align-content: center;
    color: black;
    text-decoration: none;

}
.bg-lightblue{
    background-color: lightskyblue;
}

.bg-lightpink{
    background-color: lightpink;
}

main{
    display:flex;
    gap: 32px;
}

main section{
    flex: 1;
    text-align: center;
}

.formula.img{
    height:200px;
    background-position: center;
    background-size: cover;
}

.img-luas{
    background-image: url(https://picsum.photos/id/237/200/300);
}

.img-keliling{
    background-image: url(https://picsum.photos/id/237/200/300);
}

/* Form Style */
input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
} 
button {
    background-color: lightgreen;
    border-radius: 8px;
    height: 30px;
    border: none;
}

footer {
    text-align: center;
}